__pycache__/
env
build
dist
migrations
tutorial
.vscode
django/anywall/staticfiles/
django/anywall/static/colorfield/
django/anywall/static/rest_framework/
django/anywall/static/drf-yasg/
django/anywall/static/admin/
django/anywall/static/staticfiles.json
